.features {
  width: 100%;
  margin-top: 162px;
  text-align: center;
  &__title {
    color: white;
    font-size: 52px;
    font-weight: 400;
  }
  .features__title-desc {
    margin-top: 27px;
    margin-bottom: 80px;
    color: white;
    font-size: 20px;
    font-weight: 400;
  }
  &__img-box {
    position: relative;

    .chat-bot__img {
      position: absolute;
      right: -4.2%;
      top: 66%;
    }
  }
  .wrapper {
    display: flex;
    gap: 27px;
    justify-content: center;
  }
  .card {
    padding: 10px;
    color: white;
    text-align: left;
    margin-top: 74px;
  
    &__title {
      color: white;
      font-size: 20px;
      font-weight: 500;
    }
  
    .card__describe {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

